@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=PT+Sans&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

.stroke {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #46365e;
}
::-webkit-scrollbar-thumb {
  background: #c098fe;
  border-radius: 50px;
  border: #46365e solid 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f2bd9d;
}
html {
  scroll-behavior: smooth;
}
